<header><h1>Add a New Pet for Adoption!</h1></header>

<div class="newForm">
<form action='/pets/new' method="POST">
    <label for="imgUrl">Enter Image URL: </label>
    <input type="text" name="imgUrl" required/><br>

    <label for="name">Enter Pet Name: </label>
    <input type="text" name="name" /><br>

    <label for="description">Description of Pet: </label>
    <input typearea="text" name="description" /><br>

    <button type="submit">Add Pet</button>
</form> 
</div>